@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.sudoku-box {
  display: table-cell;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 30px;
}

.submit{
  display:block;
}

.difficulty{
  text-align: center;
  color: #00008B;
}
.difficulty h2{
  font-family: "Times New Roman", Times, serif;
  font-size: 55px;
}

.box{
  border: 2px solid #2F4F4F;
}

.sudoku-box, .boxName, .numbers, .center{
  text-align: center;
}

.solved{
  text-align: center;
  border: 5px solid #00FA9A;
}

.solved h3{
  font-size: 50px;
  color: green;
  font-weight: bold;
  font-style: italic; 
}

.notSolved{
  font-size: 20px;
  text-align: center;
  border: 5px solid red;
}

.notSolved h3{
  font-size: 50px;
  color: #800000;
  font-weight: bold;
  font-style: italic;
}

.square1, .square2, .square3,
.square4, .square5, .square6,
.square7, .square8, .square9 {
  height: 50px;
  box-sizing: border-box;
  margin: 0;
}

.square1 {
  border-right:  1px solid black; 
  border-bottom: 1px solid black;
}

.square2 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right:  1px solid black; 
}

.square3 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.square4 {
  border-right:  1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.square5 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right:  1px solid black; 
  border-bottom: 1px solid black;
}

.square6 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.square7 {
  border-top: 1px solid black;
  border-right:  1px solid black;
}

.square8 {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right:  1px solid black;
}

.square9 {
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.frontPageImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 300px;
  height: 300px;
}

.buttonStyled{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.button{
  border:0 none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit] {
  padding:5px 15px; 
  background: tomato; 
  border:0 none;
  color: #fff;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}
